.edus-row {
    display: -webkit-flex;
    display: flex
}

.edus-row>* {
    width: 50%
}

.edus-row>:first-of-type {
    padding-right: 20px
}

.edus-row>:nth-of-type(2) {
    padding-left: 20px
}

.edus-row h2 {
    margin-bottom: 4px;
    color: #9dc4df
}

.edus-row h3 {
    margin-top: 4px
}

@media only screen and (max-width:600px) {
    .edus-row {
        -webkit-flex-direction: column;
        flex-direction: column
    }
    .edus-row>* {
        width: 100%;
        padding: 0 !important
    }
}