<footer class="flex flex-col justify-center items-center w-full bg-gray-200">
        <div
                class="pt-8 pb-4 px-4 flex justify-center items-start w-full flex-col flex-wrap max-w-5xl box-border gap-4">
                <h4 class="text-3xl font-extrabold"> Let's build something together!</h4>
                <p class="max-w-xl">Feel free to reach out if you're looking for a developer, have a question or just
                        want to connect 📭</p>
                <a rel="noreferrer noopener" target="_blank" href="mailto:dungbuit1k28@gmail.com">
                        <span>dungbuit1k28@gmail.com</span>
                        <span class="inline-block w-3 h-3 mt-2 ml-1"><svg class="block w-full h-full"
                                        viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13 1L1 13M3 1h10v10" stroke="#448af6" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg></span>
                </a>

                <div class="flex justify-between items-center w-full mt-8">
                        <a style="max-width: 3rem;" href="/">
                                <span class="sr-only">home</span>
                                <img class="rounded-full" src="/assets/media/blog-icon.jpg">
                        </a>
                        <div class="justify-center items-center gap-8 hidden md:flex">
                                <a href="/sitemap.xml" rel="noreferrer noopener" target="_blank">
                                        <span> sitemap</span>
                                        <span class="inline-block w-3 h-3 mt-2 ml-1"><svg class="block w-full h-full"
                                                        viewBox="0 0 14 14" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M13 1L1 13M3 1h10v10" stroke="#448af6" stroke-width="2"
                                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg></span>
                                </a>
                                <a href="/feed.xml" rel="noreferrer noopener" target="_blank">
                                        <span> rss</span>
                                        <span class="inline-block w-3 h-3 mt-2 ml-1"><svg class="block w-full h-full"
                                                        viewBox="0 0 14 14" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M13 1L1 13M3 1h10v10" stroke="#448af6" stroke-width="2"
                                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg></span>
                                </a>
                                <a href="/assets/BuiTuanDung-Resume-1.pdf" rel="noreferrer noopener" target="_blank">
                                        <span> resume</span>
                                        <span class="inline-block w-3 h-3 mt-2 ml-1"><svg class="block w-full h-full"
                                                        viewBox="0 0 14 14" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M13 1L1 13M3 1h10v10" stroke="#448af6" stroke-width="2"
                                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg></span>
                                </a>
                                <a href="https://github.com/zhaospei" rel="noreferrer noopener" target="_blank">
                                        <span> github</span>
                                        <span class="inline-block w-3 h-3 mt-2 ml-1"><svg class="block w-full h-full"
                                                        viewBox="0 0 14 14" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M13 1L1 13M3 1h10v10" stroke="#448af6" stroke-width="2"
                                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg></span>
                                </a>
                        </div>

                </div>

                <span class="text-sm text-gray-700">
                        © 2023 <span class="text-cyan-900">real</span> day, <span class="text-cyan-900">real</span>
                        time. Dung BTuan. All rights reserved.
                </span>
                <small class="text-gray-600"> <a href="https://github.com/zhaospei/zhaospei.github.io" target="_blank"
                                rel="noreferrer noopener">polygon</a> theme on <a href="https://jekyllrb.com"
                                target="_blank" rel="noreferrer noopener">jekyll</a> </small>
        </div>

</footer>