<footer class="flex flex-col justify-center items-start max-w-2xl mx-auto w-full mb-8 pb-16">
        <hr class="w-full border-t border-slate-50/25 mb-8">
        <section class="mx-auto py-16 border-t border-slate-200 ">
                <h2 class="text-xl font-semibold text-slate-900 tracking-tight">Get all of our
                        updates directly to your&nbsp;inbox.<br>Sign up for my newsletter.</h2>
                <div class="mt-5 max-w-md">
                        <form action="https://tinyletter.com/zhaospei" method="post"
                                class="flex flex-wrap -mx-2">
                                <div class="px-2 grow-[9999] mt-3">
                                        <div class="group relative"><svg viewBox="0 0 24 24" fill="none"
                                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" aria-hidden="true"
                                                        class="w-6 h-full absolute inset-y-0 left-3 text-slate-400 pointer-events-none group-focus-within:text-sky-500">
                                                        <path
                                                                d="M5 7.92C5 6.86 5.865 6 6.931 6h10.138C18.135 6 19 6.86 19 7.92v8.16c0 1.06-.865 1.92-1.931 1.92H6.931A1.926 1.926 0 0 1 5 16.08V7.92Z">
                                                        </path>
                                                        <path d="m6 7 6 5 6-5"></path>
                                                </svg>
                                                <input id="email" name="email" type="email" required="required"
                                                        autocomplete="email" aria-label="Email address"
                                                        class="box-border appearance-none shadow rounded-md ring-1 ring-slate-900/5 leading-5 sm:text-sm border border-transparent py-2 placeholder:text-slate-400 pl-12 pr-3 block w-full text-slate-900 focus:outline-none focus:ring-2 focus:ring-sky-500 bg-white"
                                                        placeholder="Subscribe via email">
                                        </div>
                                </div>
                                <div class="px-2 mt-3"><button type="submit"
                                                class="bg-sky-500 shadow text-white rounded-md text-sm border-y border-transparent py-2 font-semibold px-3 hover:bg-sky-600 ">Subscribe</button>
                                </div>
                        </form>
                </div>
        </section>

        <div class="w-full flex justify-center font-light text-gray-600">
                <a class="inline-block px-3 hover:text-cyan-900" href="/sitemap.xml">sitemap</a>
                <a class="inline-block px-3 hover:text-cyan-900" href="/feed.xml">rrs</a>
                <a class="inline-block px-3 hover:text-cyan-900" href="/assets/BuiTuanDung-Resume-1.pdf">resume</a>
                <a class="inline-block px-3 hover:text-cyan-900" href="https://github.com/zhaospei">github</a>
        </div>


        <div class="mx-auto font-semibold mt-8"> © 2023 - <span class="text-cyan-900">real</span> day, <span
                        class="text-cyan-900">real</span> time.
        </div>
        <small class="mx-auto"> <a href="https://github.com/zhaospei/zhaospei.github.io" target="_blank"
                        rel="noreferrer noopener">polygon</a> theme on <a href="https://jekyllrb.com" target="_blank"
                        rel="noreferrer noopener">jekyll</a> </small>
</footer>