<head>
    <meta charset="utf-8">
    <title>{{site.title}} - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/particales.css" rel="stylesheet">
    <link href="/assets/css/tango.css" rel="stylesheet">
    <link href="/assets/css/post.css" rel="stylesheet">
    <link href="/assets/css/blog.css" rel="stylesheet">
    <link href="/assets/css/author.css" rel="stylesheet">
    <link href="/assets/css/about.css" rel="stylesheet">
    <link href="/assets/css/experience.css" rel="stylesheet">
    <link href="/assets/css/magnet.css" rel="stylesheet">
    <link href="/assets/css/projects.css" rel="stylesheet">
    <link href="/assets/css/education.css" rel="stylesheet">
    {% feed_meta %}
    {% seo %}
</head>