<head>
    <meta charset="utf-8">
    <title>{{site.title}} - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/particales.css" rel="stylesheet">
    <link href="/assets/css/github.css" rel="stylesheet">
    <link href="/assets/css/post.css" rel="stylesheet">
    <link href="/assets/css/blog.css" rel="stylesheet">
    <link href="/assets/css/author.css" rel="stylesheet">
    <link href="/assets/css/about.css" rel="stylesheet">
    <link href="/assets/css/experience.css" rel="stylesheet">
    <link href="/assets/css/magnet.css" rel="stylesheet">
    <link href="/assets/css/projects.css" rel="stylesheet">
    <link href="/assets/css/education.css" rel="stylesheet">
    {% feed_meta %}
    {% seo %}
    <script src="https://cdn.pushalert.co/sw-55295.js"></script>
    <!-- PushAlert -->
    <script type="text/javascript">
        (function (d, t) {
            var g = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
            g.src = "https://cdn.pushalert.co/integrate_55d0c6f2bb25d77135409cb92e6df535.js";
            s.parentNode.insertBefore(g, s);
        }(document, "script"));
    </script>
    <!-- End PushAlert -->
</head>