<header class="flex flex-col justify-center px-8">
    <nav class="flex items-center justify-between w-full relative max-w-2xl border-gray-200 mx-auto pt-8 pb-8 text-gray-900 bg-gray-50 bg-opacity-60 ">
        <div class="">
            {% for item in site.data.navigation %}
                <a class="font-semibold text-gray-800 inline-block p-1 px-3 py-2 rounded-lg hover:bg-gray-200 transition-all" {% if page.url==item.link %} class="current" {% endif %} href="{{ item.link }}">
                    {{ item.name }}
                </a>
            {% endfor %}
        </div>
    </nav>
</header>