<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>{{site.title}} - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/about.css" rel="stylesheet">
    <link href="/css/experience.css" rel="stylesheet">
    <link href="/css/magnet.css" rel="stylesheet">
    <link href="/css/projects.css" rel="stylesheet">
    <link href="/css/education.css" rel="stylesheet">
    {% feed_meta %}
    {% seo %}
</head>