<header class="flex flex-col justify-center px-8">
    <nav
        class="flex items-center justify-between w-full relative max-w-3xl border-gray-200 mx-auto pt-8 pb-8 text-gray-900 bg-gray-50 bg-opacity-60 ">
        <div class=""><button class="mobile-menu visible md:hidden w-auto"
                type="button"><svg class="h-5 w-5 absolute text-gray-900 dark:text-gray-100" width="20" height="20"
                    viewBox="0 0 20 20" fill="none" data-hide="false">
                    <path d="M2.5 7.5H17.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path d="M2.5 12.5H17.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg><svg class="h-5 w-5 absolute text-gray-900 dark:text-gray-100" viewBox="0 0 24 24" width="24"
                    height="24" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                    fill="none" shape-rendering="geometricPrecision" data-hide="true">
                    <path d="M18 6L6 18"></path>
                    <path d="M6 6l12 12"></path>
                </svg></button>
                {% for item in site.data.navigation %}
                    <a class="font-normal text-gray-800 dark:text-gray-200 hidden md:inline-block p-1 sm:px-3 sm:py-2 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-800 transition-all"
                    {% if page.url==item.link %} style="font-weight: 600;" {% endif %} href="{{ item.link }}"><span class="capsize">{{ item.name }}</span></a>
                {% endfor %}
        </div>
    </nav>
</header>
