<style>
    .word-board-container {
        padding-bottom: 80px;
    }
    .magnet {
        display: inline-block;
        position: absolute;
        text-align: center;
        cursor: pointer;
        /* color: #0f2126; */
        color: #0f2126;
        font-weight: 500;
        padding: 3px;
        border-radius: 2px;
        box-shadow: 2px 4px 9px 2px rgba(0, 0, 0, .2)
    }

    .magnet:hover {
        box-shadow: rgba(0, 0, 0, .4) 5px 5px 10px 0px, rgba(0, 0, 0, .3) -5px -5px 10px 0px;
    }

    .word-board {
        width: 80%;
        height: 250px;
        position: relative;
        margin: auto;
    }

    .help-text {
        position: absolute;
        bottom: 0;
        right: 5%;
        font-size: 14px;
        color: #87949a
    }

    @media only screen and (max-width:728px) {
        .word-board{
            width: 100%;
        }
        .help-text {
            display: none;
        }
    }
</style>

<script>
    $(".magnet").each(function () {
        $(this).css("transform", "rotate(".concat(Math.floor(20 * Math.random()) - 10, "deg)"));
    });

    function dragEnd(event) {
        var leftextra = 0.1 * window.innerWidth / 2 + 120;
        if (event.clientY - 70 > 200) {
            event.target.style.top = "200px";
        } else if (event.clientY < 70) {
            event.target.style.top = "0px";
        } else {
            event.target.style.top = event.clientY - 70 + "px";
        }
        var newLeft = $(window).width() - 2 * parseInt(event.target.style.width, 10) - 10;
        console.log(newLeft);
        if (event.clientX - leftextra > newLeft) {
            event.target.style.left = newLeft + "px";
        } else {
            event.target.style.left = event.clientX - leftextra + "px";
        }
        event.target.style.transform = "rotate(".concat(Math.floor(20 * Math.random()) - 10, "deg)");
    }

    function allowDrop(event) {
        event.preventDefault();
    }

    function drop(event) {
        event.preventDefault();
        const data = event.dataTransfer.getData("Text");
        event.target.appendChild(document.getElementById(data));
    }
</script>

<div class="word-board-container">
    <div class="word-board">
        <div class="magnet bg-green-600" draggable="true" ondragend="dragEnd(event)" onTouchMove="touchMove(event)"
            onTouchEnd="touchEnd(event)" ondragend="dragEnd(event)" onTouchMove="touchMove(event)"
            onTouchEnd="touchEnd(event)" style="top: 10%; left: 23%; width: 80px; transform: rotate(9deg);">
            AI</div>
        <div class="magnet bg-sky-500" draggable="true" ondragend="dragEnd(event)" onTouchMove="touchMove(event)"
            onTouchEnd="touchEnd(event)" style="top: 13%; right: 19%; width: 110px; transform: rotate(-8deg);">
            programmer</div>
        <div class="magnet bg-slate-300" draggable="true" ondragend="dragEnd(event)" onTouchMove="touchMove(event)"
            onTouchEnd="touchEnd(event)" style="top: 12%; right: -2%; width: 80px; transform: rotate(6deg);">
            django</div>
        <div class="magnet bg-indigo-200" draggable="true" ondragend="dragEnd(event)" onTouchMove="touchMove(event)"
            onTouchEnd="touchEnd(event)" style="top: 38%; left: 11%; width: 80px; transform: rotate(-6deg);">
            code</div>
        <div class="magnet bg-orange-400" draggable="true" ondragend="dragEnd(event)" onTouchMove="touchMove(event)"
            onTouchEnd="touchEnd(event)" style="top: 12%; left: -1%; width: 90px; transform: rotate(5deg);">
            developer</div>
        <div class="magnet bg-amber-400" draggable="true" ondragend="dragEnd(event)" onTouchMove="touchMove(event)"
            onTouchEnd="touchEnd(event)" style="top: 39%; left: 31%; width: 80px; transform: rotate(-10deg);">
            AcCepted</div>
        <div class="magnet bg-lime-400" draggable="true" ondragend="dragEnd(event)" onTouchMove="touchMove(event)"
            onTouchEnd="touchEnd(event)" style="top: 25%; left: 43%; width: 80px; transform: rotate(-10deg);">
            create</div>
        <div class="magnet bg-emerald-400" draggable="true" ondragend="dragEnd(event)" onTouchMove="touchMove(event)"
            onTouchEnd="touchEnd(event)" style="top: 43%; right: 33%; width: 80px; transform: rotate(3deg);">
            build</div>
        <div class="magnet bg-yellow-300" draggable="true" ondragend="dragEnd(event)" onTouchMove="touchMove(event)"
            onTouchEnd="touchEnd(event)" style="top: 39%; right: 13%; width: 80px; transform: rotate(-9deg);">
            love</div>
        <div class="magnet bg-fuchsia-600" draggable="true" ondragend="dragEnd(event)" onTouchMove="touchMove(event)"
            onTouchEnd="touchEnd(event)" style="top: 59%; left: -1%; width: 80px; transform: rotate(3deg);">html
        </div>
        <div class="magnet bg-rose-400" draggable="true" ondragend="dragEnd(event)" onTouchMove="touchMove(event)"
            onTouchEnd="touchEnd(event)" style="top: 73%; left: 20%; width: 80px; transform: rotate(5deg);">
            javascript</div>
        <div class="magnet bg-indigo-200" draggable="true" ondragend="dragEnd(event)" onTouchMove="touchMove(event)"
            onTouchEnd="touchEnd(event)" style="top: 65%; left: 39%; width: 80px; transform: rotate(-9deg);">
            python</div>
        <div class="magnet bg-purple-500" draggable="true" ondragend="dragEnd(event)" onTouchMove="touchMove(event)"
            onTouchEnd="touchEnd(event)" style="top: 71%; left: 58%; width: 80px; transform: rotate(-6deg);">c++
        </div>
        <div class="magnet bg-violet-300" draggable="true" ondragend="dragEnd(event)" onTouchMove="touchMove(event)"
            onTouchEnd="touchEnd(event)" style="top: 72%; right: 12%; width: 80px; transform: rotate(-9deg);">
            java</div>
        <div class="magnet bg-pink-400" draggable="true" ondragend="dragEnd(event)" onTouchMove="touchMove(event)"
            onTouchEnd="touchEnd(event)" style="top: 60%; right: -2%; width: 80px; transform: rotate(6deg);">css
        </div>
        <div class="help-text">
            Tips: The above cards can be moved!
        </div>
    </div>

</div>