<style>

  .table-of-contents-container li a {
    color: rgb(8, 27, 75);
  }

  .table-of-contents-container li.active>a {
    color: #1c84d9;
  }

  .toc-h1 {
    margin-top: 1em;
  }
  .toc-h2 {
    margin-top: 0.5em;
  }

  .toc-h1 {
    font-weight: 600;
  }

  .toc-h2 {
    padding-left: 1em;
    font-weight: 500;
  }

  .toc-h3 {
    padding-left: 2em;
    font-weight: 400;
  }


  @media only screen and (max-width:1280px) {
    .table-of-contents-container {
      display: none;
    }
  }
</style>

{% if page.table_content != false %}
<div class="fixed z-20 top-[3.8125rem] bottom-0 right-[max(0px,calc(50%-45rem))] w-[19.5rem] py-10 overflow-y-auto hidden xl:block">
    <div class="px-8">
      <h5 class="text-slate-900 font-semibold mb-4 text-xl leading-6 "> On this page </h5>
      <div class="table-of-contents-container scroll text-slate-700 text-sm leading-6">
        {% toc %}
      </div>
    </div>  
</div>
{% endif %}