.about-div {
    padding-bottom: 30px;
}

.about-div h1 {
    font-size: 64px;
}

.word-board {
    height: 250px;
    position: relative;
}

.help-text {
    position: absolute;
    bottom: 0;
    right: 5%;
    font-size: 12px;
    color: #87949a;
}

.help-text svg {
    left: -15px;
    bottom: 2px;
    animation: bob 2s infinite;
    position: absolute;
}

@keyframes bob {
    75% {
        bottom: 2px;
    }
    80% {
        bottom: 6px;
    }
    85% {
        bottom: 2px;
    }
    90% {
        bottom: 6px;
    }
    95% {
        bottom: 2px;
    }
}

.about-content {
    width: 80%;
}

.about-content p {
    font-size: 16px;
    line-height: 24px;
}

.links {
    display: flex;
}

.links a {
    width: 80px;
    height: 80px;
    margin: 4px;
    display: block;
    text-decoration: none;
    border-radius: 50%;
    padding: 16px;
    transition: background-color 0.5s;
}

.links a:hover {
    background-color: #193640;
}

.links a:hover .label {
    opacity: 1;
}

.code-link {
    width: 80px;
    height: 80px;
}

.label {
    opacity: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    transition: opacity 0.5s;
}

.row {
    display: flex;
    justify-content: space-between;
}

.reagan-gif {
    background-image: url('../static-resources/r_couch1.png');
    height: 239px;
    width: 400px;
    animation: frames 4s infinite;
    margin-right: 64px;
}

@keyframes frames {
    0% {
        background-image: url('../static-resources/r_couch1.png');
    }
    59% {
        background-image: url('../static-resources/r_couch1.png');
    }
    60% {
        background-image: url('../static-resources/r_couch2.png');
    }
    70% {
        background-image: url('../static-resources/r_couch3.png');
    }
    80% {
        background-image: url('../static-resources/r_couch2.png');
    }
    90% {
        background-image: url('../static-resources/r_couch3.png');
    }
    100% {
        background-image: url('../static-resources/r_couch2.png');
    }
}

@media only screen and (max-width: 769px) {
    .about-content {
        width: 100%;
    }
    .row {
        flex-direction: column;
        align-items: center;
    }
    .reagan-gif {
        margin-right: 0;
        width: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}