.jobs-row {
    display: flex;
}

.jobs-row>* {
    width: 50%;
}

.jobs-row>*:nth-of-type(1) {
    padding-right: 20px;
}

.jobs-row>*:nth-of-type(2) {
    padding-left: 20px;
}

.jobs-row h2 {
    margin-bottom: 4px;
    color: #9dc4df;
}

.jobs-row h3 {
    margin-top: 4px;
}

@media only screen and (max-width: 600px) {
    .jobs-row {
        flex-direction: column;
    }
    .jobs-row>* {
        width: 100%;
        padding: 0 !important;
    }
}