---
import { cn } from '@/utils'
const { class: className, hideComment, path, ...props } = Astro.props
const realPath = path.endsWith('/') ? path : path + '/';
---

<div class={cn('text-base text-sm text-muted-foreground', className)} {...props}>
  <>
    <span class='waline-pageview-count' data-path={realPath}></span>{' '}
    views
  </>
  {
    !hideComment && (
      <>
        | <span class='waline-comment-count' data-path={realPath} /> comments
      </>
    )
  }
</div>