.about-div {
    padding-bottom: 30px
}

.about-div h1 {
    font-size: 64px
}

.word-board {
    height: 250px;
    position: relative
}

.help-text {
    position: absolute;
    bottom: 0;
    right: 5%;
    font-size: 14px;
    color: #87949a
}

.about-content {
    width: 80%
}

.about-content p {
    font-size: 16px;
    line-height: 24px
}

.links {
    display: -webkit-flex;
    display: flex
}

.links a {
    width: 80px;
    height: 80px;
    margin: 4px;
    display: block;
    text-decoration: none;
    border-radius: 50%;
    padding: 16px;
    transition: background-color .5s
}

.links a:hover {
    background-color: #193640
}

.links a:hover .label {
    opacity: 1
}

.code-link {
    width: 80px;
    height: 80px
}

.label {
    opacity: 0;
    text-align: center;
    color: hsla(0, 0%, 100%, .8);
    font-size: 14px;
    transition: opacity .5s
}

.row {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

@media only screen and (max-width:769px) {
    .about-content {
        width: 100%
    }
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center
    }
}