.user-profile {
    display: flex;
    flex-direction: column;
    gap: 32px;
    grid-column: 1 / -1;
    -moz-box-align: center;
    align-items: center;
    flex-direction: row;
}

.user-img img{
    height: 304px;
    width: 304px;
    border-radius: 16px;
}

.user-name {
    align-items: center;
    color: rgb(8, 27, 75);
    display: inline-flex;
    font-family: "Epilogue", sans-serif;
    font-size: 40px;
    font-weight: 700;
    gap: 32px;
    letter-spacing: -1px;
    line-height: 48px;
    margin: 0px 0px 12px;
}

.user-position {
    color: rgb(8, 27, 75);
    font-family: "Epilogue", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.user-about {
    gap: 32px;
    margin-bottom: 16px;
}

@media only screen and (max-width:800px) {
    .user-profile {
        flex-direction: column;
    }

    .user-name, .user-position {
        display: block;
        text-align: center;
    }
}