--- 
--- 

@tailwind base;

@layer base {
    html {
      font-family: 'Inter', sans-serif;
      scroll-behavior: smooth;
      @apply dark:text-white;
    }

    ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    ::-webkit-scrollbar-track {
      background: rgb(247, 241, 243);
      @aplly dark:bg-zinc-800;
    }

    ::-webkit-scrollbar-thumb {
      background: rgb(144, 144, 144);
      border-radius: 8px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: rgb(101, 101, 101);
    }

    a {
      @apply text-blue-600 dark:text-blue-400;
    }

    .prose a {
      word-break: break-all;
    }

    .prose h1 {
      @apply font-bold text-2xl mt-8 mb-4;
    }

    .prose h2 {
      @apply font-bold text-xl mt-8 mb-4; 
    }

    .prose h3 {
      @apply font-bold text-lg mt-8 mb-4;
    }

    .prose p {
      @apply mt-5 mb-5 indent-8 leading-8;
    }

    .prose ul {
      @apply list-disc ml-16;
    }

    .prose li {
      @apply mt-2 mb-2;
    }

    .prose table {
      display: block;
      margin: auto;
      width: max-content;
      max-width: 100%;
      overflow: auto;
      @apply my-8;
    }

    .prose thead, tr, th, td {
      @apply border border-solid px-2 py-2 text-center;
    }

    .prose th {
      @apply bg-indigo-300;
    }

    #results-container {
      @apply w-full box-border my-4 px-4 py-4 text-gray-900 bg-white border border-solid border-slate-300 rounded-lg;
    }

    #results-container li {
      @apply px-4 hover:bg-green-200	border-0 rounded-md;
    }
    
    #results-container li p {
      @apply w-full py-2 text-lg font-medium text-gray-900 hover:text-green-800 md:text-xl;
    }

    .bloglayouts {
      grid-template-columns: 1fr; 
      grid-template-rows: auto; 
      grid-template-areas: 
        "posts" 
        "categories" 
        "popular";
    }
    

    @keyframes Typewriter-cursor {
        0% {
          opacity: 0;
        }

        50% {
          opacity: 1;
        }

        100% {
          opacity: 0;
        }
    }

    .Typewriter__cursor {
      -webkit-animation: Typewriter-cursor 1s infinite;
      animation: Typewriter-cursor 1s infinite;
      margin-left: 1px;
    }

    @media only screen and (min-width: 778px) {
      .bloglayouts {
        grid-template-columns: 5fr 3fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "posts categories"
            "posts popular";
      }
    }
    

    
  }

@tailwind components;
@tailwind utilities;