--- 
--- 

@tailwind base;

@layer base {  
    html {
      font-family: "Be Vietnam Pro", sans-serif;
      scroll-behavior: smooth;
      @apply dark:text-white;
    }

    ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    ::-webkit-scrollbar-track {
      background: rgb(247, 241, 243);
      @aplly dark:bg-zinc-800;
    }

    ::-webkit-scrollbar-thumb {
      background: rgba(144, 144, 144, 0.692);
      /* border-radius: 8px; */
    }

    ::-webkit-scrollbar-thumb:hover {
      background: rgb(101, 101, 101);
    }

    ul, ol {
      margin-left: 2em;
    }

    a {
      @apply text-blue-600 dark:text-blue-400;
    }

    .prose a {
      word-break: break-all;
    }

    .prose h1 {
      @apply font-bold text-2xl mt-8 mb-4;
    }

    .prose h2 {
      @apply font-bold text-xl mt-8 mb-4; 
    }

    .prose h3 {
      @apply font-bold text-lg mt-8 mb-4;
    }

    .prose p {
      @apply text-gray-700 mt-5 mb-5 indent-8 leading-8 dark:text-gray-100;
    }

    .prose ul {
      @apply text-gray-700 list-disc ml-16 dark:text-gray-100;
    }

    pre {
      @apply dark:bg-zinc-800;
    }

    .prose li {
      @apply text-gray-700 mt-2 mb-2 dark:text-gray-100;
    }

    .prose table {
      display: block;
      margin: auto;
      width: max-content;
      max-width: 100%;
      overflow: auto;
      @apply my-8;
    }

    .prose ul, ol {
      list-style: revert;
    }

    .prose thead, tr, th, td {
      @apply border border-solid px-2 py-2 text-center;
    }

    .prose th {
      @apply bg-indigo-300;
    }

    #results-container {
      @apply w-full box-border my-4 px-4 py-4 text-gray-900 bg-white border border-solid border-slate-300 rounded-lg;
    }

    #results-container li {
      @apply px-4 hover:bg-green-200	border-0 rounded-md;
    }
    
    #results-container li p {
      @apply w-full py-2 text-lg font-medium text-gray-900 hover:text-green-800 md:text-xl;
    }

    .bloglayouts {
      grid-template-columns: 1fr; 
      grid-template-rows: auto; 
      grid-template-areas: 
        "posts" 
        "categories" 
        "popular";
    }
    .contact-header:hover svg {
      transform: translate(5px,-7px) rotate(20deg);
    }

    .contact-header svg {
      transition: transform .2s ease-out;
    }

    .circle-google {
      margin: 25px 0;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 12px solid transparent;
      background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
      background-repeat: no-repeat;
      background-image: linear-gradient(white, white), 
                        linear-gradient(30deg, #4285f4 36%, lightgrey 30%),
                        linear-gradient(120deg, #f9ab00 36%, lightgrey 30%),
                        linear-gradient(300deg, #34a853 36%, lightgrey 30%),
                        linear-gradient(210deg, #ea4335 36%, lightgrey 30%);
      background-position: center center, left top, right top, left bottom, right bottom;
      background-origin: content-box, border-box, border-box, border-box, border-box;
      background-clip: content-box, border-box, border-box, border-box, border-box;
      transform: rotate(30deg);
    }
    
    .link-hover {
      background-image: linear-gradient(currentColor,currentColor);
      background-repeat: no-repeat;
      background-position: 0 100%;
      background-size: 0 1.7px;
      transition: background-size .25s ease;
    }

    .container-hover:hover img{
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
      transition: all .25s;
      
    }

    .hover-width:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
      transition: all .25s;
      
    }

    .link-hover:hover {
      background-size: 100% 1.7px;
    }

    /* .animate-spin-round {
      transition: spin 10s ease;
    } */


    @keyframes full-rotate-left {
      0% {
          -webkit-transform: rotate(0);
          transform: rotate(0);
      }
      100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
      } 
    }
    

    @keyframes Typewriter-cursor {
        0% {
          opacity: 0;
        }

        50% {
          opacity: 1;
        }

        100% {
          opacity: 0;
        }
    }

    .Typewriter__cursor {
      -webkit-animation: Typewriter-cursor 1s infinite;
      animation: Typewriter-cursor 1s infinite;
      margin-left: 1px;
    }

    @media only screen and (min-width: 778px) {
      .bloglayouts {
        grid-template-columns: 5fr 3fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "posts categories"
            "posts popular";
      }
    }
        
    

    
  }

@tailwind components;
@tailwind utilities;
