@import url(https://fonts.googleapis.com/css?family=Montserrat|Shrikhand|Staatliches|Epilogue|Inter);

/* *,
::after,
::before {
    box-sizing: border-box;
} */

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #315162;
    color: #fff;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Staatliches, cursive;
    letter-spacing: 2px;
    font-size: 40px
}

h2 {
    font-size: 26px;
    letter-spacing: 1px;
    font-family: Staatliches
}

h3 {
    font-size: 16px
}

p {
    font-size: 16px
}

a {
    color: #8ec3de;
    text-decoration: none;
}

hr {
    height: 2px;
    background-color: white;
}


footer {
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px;
    color: hsla(0, 0%, 100%, .7)
}

header .flexbox {
    display: flex;
    height: 50px;
    margin-bottom: 16px;
}

header .flexbox>* {
    margin: auto;
}

header h1,
header nav {
    display: inline-block;
    margin: 0;
    margin-left: 20px;
    font-size: 2em;
}

nav ul,
.meta ul {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    display: inline-block;
}

nav li,
.meta li {
    display: inline-block;
    font-family: Staatliches, cursive;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

nav li:hover,
.meta li:hover {
    background: #21343cb0;
}

.main-nav li a,
.meta li a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: 900;
    font-size: .75em;
    padding: .5em 1em;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

.main-nav li.current a,
.meta li.current a {
    color: white;
}

.content {
    font-family: Montserrat, sans-serif;
    width: 90%;
    height: 100%;
    margin: auto
}


.content-section {
    box-sizing: border-box;
    background-color: #21343cb0;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin: 40px auto
}


@media only screen and (max-width:600px) {
    .full-on-mobile {
        width: 100%;
    }

    .flexbox {
        flex-direction: column;
    }
}