.blog-content {
    font-family: Inter,sans-serif;
    margin-right: auto;
    margin-left: auto;
    padding-right: 60px;
    padding-left: 60px;
    color: rgb(25, 45, 91);
    word-wrap: break-word;
    display: flex;
    max-width: 1536px;
    justify-content: space-between;
    position: relative;
    margin-top: 40px;
}

.middle-container {
    max-width: calc(100% - 400px);
}

.right-container {
    background-color: #ffffff;
    padding-top: 50px;
    width: 400px;
}


.post {
    background-color: white;
    font-family: Inter, sans-serif;
    padding: 20px;
    hyphens: auto;
    display: flex;
    margin: 0 auto;
    padding: 20px;
}

.post-feature {
    font-family: Epilogue, sans-serif;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}

.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5 {
    font-family: Epilogue, sans-serif;
    padding: 10px 0;
}

.blog-content h1 {
    color: rgb(3, 27, 78);
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 40px;
    margin: 0px;
    word-break: break-word;
}

.blog-content h4 {
    font-family: JetBrains Mono, monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 24px;
    margin: 20px 0px 8px;
    text-transform: capitalize;
    color: rgb(0, 105, 255);
}

.blog-content p {
    text-align: justify;
    line-height: 1.5em;
}

.blog-content a:hover {
    text-decoration: underline;
}

.post-content h4 {
    font-family: Epilogue, sans-serif;
    color: rgb(3, 27, 78);
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 16px;
    margin: 0px;
    word-break: break-word;
}

.post-content h3 {
    font-size: 20px;
}

.post-content ul {
    padding-left: 2em;
    margin: 16px 0;
    list-style: disc;
    line-height: 1.5em;
    text-align: justify;
}

.post-content li {
    padding: 4px 0;
}

.post-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 48px;
}

.post-tag {
    font-size: 20px;
    line-height: 1.5;
    -moz-box-align: center;
    align-items: center;
    color: rgb(3, 27, 78);
    display: flex;
    flex-flow: row wrap;
    margin: 0px auto;
    padding: 10px 0px;
    width: 100%;
}

.post-tag li {
    color: rgb(51, 51, 51);
    font-size: 13px;
    font-weight: 500px;
    line-height: 1.6;
    list-style: none;
    padding-right: 5px;
}

.post-tag li a {
    background: rgb(239, 242, 251);
    border-radius: 8px;
    color: rgb(77, 91, 124);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-weight: 600px;
    line-height: 1.71429;
    margin: 4px 8px 4px 0px;
    margin-left: 0px;
    padding: 0px 8px;
    text-align: center;
    text-decoration: none;
    transition: background 0.15s linear 0s, color 0.15s linear 0s;
}

.post-tag li a:hover {
    background: rgb(18, 83, 250);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.post-author {
    display: flex;
    align-items: center;
}

.author-name {
    display: flex;
    margin-left: 16px;
    color: rgb(3, 27, 78);
    display: inline-block;
    font-size: 16px;
    font-weight: 500px;
    line-height: 1.6;
    list-style: none;
}

.author-name a {
    color: rgb(0, 105, 255);
    cursor: pointer;
    font-size: 16px;
    text-decoration: underline;
}

.author-position {
    color: rgb(77, 91, 124);
    font-size: 16px;
    font-weight: 500px;
    line-height: 26px;
    overflow-wrap: break-word;
    padding: 0px;
}

.author-img {
    box-sizing: content-box;
    display: inline-block;
    position: relative;
}

.author-img img {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    height: 48px;
    vertical-align: middle;
    width: 48px;
}

.table-of-contents-container {
    top: 32px;
    font-size: 12px;
    font-weight: 500;
    margin-left: 40px;
}

.section-nav:before {
    content: "Table of contents";
    font-weight: 800;
    font-size: 1.2rem;
}


.section-nav {
    color: rgb(0, 12, 43);
    letter-spacing: 1px;
    line-height: 1.2;
    list-style: none;
    opacity: 1;
}

.toc-entry {
    font-size: 1.0rem;
    letter-spacing: 1px;
    line-height: 1.1;
    margin: 12px 0px 0px;
    padding-left: 1em;
}

.blog-header {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.post-feature {
    position: relative;
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: #6c757d;
    background-attachment: scroll;
    background-size: cover;
    padding: 160px 0 220px;
}

.blog-header a {
    display: flex;
    margin: 16px 16px;
}

.menu,
.menu-link {
    color: #0d122b;
    text-decoration: none;
    opacity: 0.7;
    letter-spacing: 0.3px;
    font-weight: 400;
    display: flex;
    font-size: 16px;
}

a.menu-link {
   display: block;
   margin: auto 16px;
}



.trigger-container {
    display: flex;
    font-family: Epilogue, sans-serif;
    text-align: center;
}

.toc-h2 a {
    padding-left: 1em;
}

.toc-h3 a {
    padding-left: 2em;
}


.table-of-contents-container li.active {
    border-left: 4px solid rgb(8, 27, 75);
    padding-left: 12px;
}

.table-of-contents-container li.active > a {
	font-weight: 800;
    color: rgb(8, 27, 75);
}

.blog-logo {
    width: 48px;
    height: 48px;
    border: 3px solid #FFF;
    box-shadow: 0 0 0 3px #1c84d9;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    background: url(/assets/media/blog-logo.jpg) no-repeat center center;
    background-size: auto;
    background-size: contain;
}

.blog-header-text {
    display: block;
    font-family: Epilogue, sans-serif;
    font-weight: bold;
    letter-spacing: -0.5px;
    font-size: 24px;
    margin: auto 16px;
}

.page-navigation {
    display: flex;
    position: relative;
    margin: 5em 0;
    border-top: 1px solid #d4d4d4;
    line-height: 1.4;
}

.page-navigation a {
    border-bottom: 0;
    font-weight: 700;
    padding-bottom: 10px;
    width: 50%;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;
}

.page-navigation .nav-arrow {
    font-weight: 400;
    font-size: 14px;
    color: #6b7886;
    margin-bottom: 3px;
}

.page-navigation .post-title {
    font-weight: 700;
}

.page-navigation .next {
    text-align: right;
    padding-right: 0;
    padding-left: 20px;
}

.post-content img {
    width: 90%;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    align-self: flex-start;
}

.reading-line {
    position: fixed;
    top: 0;
    border-bottom: 4px solid #1c84d9;
    z-index: 404;
}

.up-to-top {
    position: fixed;
    z-index: 4004;
    /* display: none; */
    bottom: 2em;
    right: 2em;
    border: 40px solid #1c84d9;
    cursor: pointer;
    
}

.table-of-contents-container {
    height: 80vh;
    overflow: auto;
}

@media only screen and (max-width:800px) {
    .table-of-contents-container {
        display: none;
    }

    .post-header {
        flex-direction: column;
    }

    .trigger-container {
        display: none;
    }

    .blog-header {
        padding: 0 0;
    }

    .middle-container {
        max-width: 100%;
    }

    .blog-content {
        padding-left: 30px;
        padding-right: 0;
    }



}