.blog-content {
    max-width: -webkit-calc(720px - (30px * 2));
    max-width: calc(720px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

.post {
    background-color: white;
    color: rgb(25, 45, 91);
    font-family: Inter, sans-serif;
    padding: 20px;
    word-wrap: break-word;
    hyphens: auto;
    display: flex;
    margin: 0 auto;
    padding: 20px;
}

.post-content-container {
    /* max-width: 720px; */
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5 {
    font-family: Epilogue, sans-serif;
    margin: 0 0;
}

.post h1 {
    color: rgb(3, 27, 78);
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 40px;
    margin: 0px;
    padding: 0px;
    word-break: break-word;
}

.post h4 {
    font-family: JetBrains Mono, monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 24px;
    margin: 20px 0px 8px;
    text-transform: capitalize;
    color: rgb(0, 105, 255);
}

.post p {
    text-align: justify;
    line-height: 1.5em;
}

.post a:hover {
    text-decoration: underline;
}

.post-content h4 {
    font-family: Epilogue, sans-serif;
    color: rgb(3, 27, 78);
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 16px;
    margin: 0px;
    padding: 0px;
    word-break: break-word;
}

.post-content h3 {
    font-size: 20px;
}

.post-content ul {
    padding-left: 2em;
    margin: 16px 0;
    list-style: disc;
    line-height: 1.5em;
}

.post-content li {
    padding: 4px 0;
}

.post-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 48px;
}

.post-tag {
    font-size: 20px;
    line-height: 1.5;
    -moz-box-align: center;
    align-items: center;
    color: rgb(3, 27, 78);
    display: flex;
    flex-flow: row wrap;
    margin: 0px auto;
    padding: 10px 0px;
    width: 100%;
}

.post-tag li {
    color: rgb(51, 51, 51);
    font-size: 13px;
    font-weight: 500px;
    line-height: 1.6;
    list-style: none;
    padding-right: 5px;
}

.post-tag li a {
    background: rgb(239, 242, 251);
    border-radius: 8px;
    color: rgb(77, 91, 124);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-weight: 600px;
    line-height: 1.71429;
    margin: 4px 8px 4px 0px;
    margin-left: 0px;
    padding: 0px 8px;
    text-align: center;
    text-decoration: none;
    transition: background 0.15s linear 0s, color 0.15s linear 0s;
}

.post-tag li a:hover {
    background: rgb(18, 83, 250);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.post-author {
    display: flex;
}

.author-name {
    display: flex;
    margin-left: 16px;
    color: rgb(3, 27, 78);
    display: inline-block;
    font-size: 16px;
    font-weight: 500px;
    line-height: 1.6;
    list-style: none;
}

.author-name a {
    color: rgb(0, 105, 255);
    cursor: pointer;
    font-size: 16px;
    text-decoration: underline;
}

.author-position {
    color: rgb(77, 91, 124);
    font-size: 16px;
    font-weight: 500px;
    line-height: 26px;
    overflow-wrap: break-word;
    padding: 0px;
}

.author-img {
    box-sizing: content-box;
    display: inline-block;
    position: relative;
}

.author-img img {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    height: 48px;
    object-fit: contain;
    vertical-align: middle;
    width: 48px;
}

.table-of-contents-container {
    top: 32px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 0 32px 16px 0px;
}

.section-nav:before {
    content: "Table of contents";
    font-weight: 800;
    font-size: 1.2rem;
}


.section-nav {
    color: rgb(0, 12, 43);
    letter-spacing: 1px;
    line-height: 1.2;
    list-style: none;
    opacity: 1;
}

.toc-entry {
    font-size: 1.0rem;
    letter-spacing: 1px;
    line-height: 1.1;
    margin: 12px 0px 0px;
}

.blog-header a {
    display: flex;
    margin: 16px 16px;
}

.toc-h2 a {
    padding-left: 1em;
}

.toc-h3 a {
    padding-left: 2em;
}

.blog-logo {
    width: 48px;
    height: 48px;
    border: 3px solid #FFF;
    box-shadow: 0 0 0 3px #1c84d9;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    background: url(/assets/media/author/zhao.jpeg) no-repeat center center;
    background-size: auto;
    background-size: contain;
}

.blog-header-text {
    display: block;
    font-family: Epilogue, sans-serif;
    font-weight: bold;
    letter-spacing: -0.5px;
    font-size: 24px;
    margin: auto 16px;
}

.page-navigation {
    display: flex;
    position: relative;
    margin: 5em 0;
    border-top: 1px solid #d4d4d4;
    line-height: 1.4;
}

.page-navigation a {
    border-bottom: 0;
    font-weight: 700;
    padding-bottom: 10px;
    width: 50%;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;
}

.page-navigation .nav-arrow {
    font-weight: 400;
    font-size: 14px;
    color: #6b7886;
    margin-bottom: 3px;
}

.page-navigation .post-title {
    font-weight: 700;
}

.page-navigation .next {
    text-align: right;
    padding-right: 0;
    padding-left: 20px;
}

@media only screen and (max-width:800px) {
    .post {
        width: 90%;
        padding: 20px;
        margin: 0 auto;
    }

    .post-header {
        flex-direction: column;
    }
}
