.project {
    display: -webkit-flex;
    display: flex
}

.project>* {
    width: 50%
}

.project>:nth-of-type(2) {
    padding: 20px 10px;
    margin: auto
}

video {
    width: 100%
}

.project h2 {
    color: #9dc4df
}

.nocolor {
    color: inherit
}

@media only screen and (max-width:600px) {
    .project {
        -webkit-flex-direction: column;
        flex-direction: column
    }
    .project>* {
        width: 100%
    }
    .project>:first-of-type {
        -webkit-order: 2;
        order: 2
    }
    .project>:nth-of-type(2) {
        -webkit-order: 1;
        order: 1;
        padding: 20px 0 0
    }
}