<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="light" style="color-scheme: light;">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HSCBJBJKGQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics }}');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5949973426329392"
    crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/github.css" | relative_url }}">
    <script src="/assets/js/main.js"></script>
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <div class="bg-gray-50 dark:bg-gray-900">
      {% include header.html %}
      <main class="flex flex-col justify-center px-8 bg-gray-50">
          {{ content }}
        {% include footer.html %}
      </main>
    </div>
  </body>
</html>