<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HSCBJBJKGQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics }}');
    </script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/github.css" | relative_url }}">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <div class="bg-gray-50">
      {% include header.html %}
      <main class="flex flex-col justify-center px-8 bg-gray-50">
        
          {{ content }}
        {% include footer.html %}
      </main>
    </div>
  </body>
</html>