<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="light" style="color-scheme: light;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/github.css" | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <div class="">
      {% include header.html %}
      <main class="flex flex-col justify-center px-8">
          {{ content }}
        {% include footer.html %}
      </main>
    </div>
    <script src="/assets/js/vanilla-tilt.js"></script>
  </body>
</html>