---
layout: default
---
<div class="flex flex-col justify-center items-start border-gray-200 pb-16 dark:bg-slate-800">
    <div class="flex flex-col-reverse sm:flex-row items-start w-full">
        <div class="flex flex-col pr-8 justify-center items-center w-full">
            <h1
                class="font-extrabold mb-1 text-5xl {{ page.color }} leading-tight">
                {{ page.title }}
            </h1>
            <p class="text-gray-600 indent-8 mb-4 max-w-2xl	text-center	">
                {{ page.description }}
            </p>
        </div>
    </div>

    {{ content }}

</div>