<!DOCTYPE html>
<html lang="vi" xml:lang="vi">

<head>
    <meta charset="utf-8">
    <title>{{site.title}} - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/github.css" rel="stylesheet">
    <link href="/assets/css/post.css" rel="stylesheet">
    {% feed_meta %}
    {% seo %}
</head>

<body style="background-color: white;">
    <div class="reading-line">
    </div>
    <header class="blog-header">
        <a href="/blog.html">
            <span class="blog-logo"></span>
            <span class="blog-header-text"> zhaospei </br> răng chi mô ri </span>
        </a>
        <nav class="trigger-container"><a class="menu-link" href="/blog.html">home</a><a class="menu-link"
                href="/archive/">archive</a><a class="menu-link" href="/blog/about/">about</a><a class="menu-link rss"
                href="/feed.xml" target="_blank"> <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"
                    viewBox="0 0 512 512" fill="#ED812E">
                    <title>RSS</title>
                    <path d="M108.56,342.78a60.34,60.34,0,1,0,60.56,60.44A60.63,60.63,0,0,0,108.56,342.78Z">
                    </path>
                    <path
                        d="M48,186.67v86.55c52,0,101.94,15.39,138.67,52.11s52,86.56,52,138.67h86.66C325.33,312.44,199.67,186.67,48,186.67Z">
                    </path>
                    <path d="M48,48v86.56c185.25,0,329.22,144.08,329.22,329.44H464C464,234.66,277.67,48,48,48Z">
                    </path>
                </svg> </a>
        </nav>
    </header>
    {% if page.img-feature %}
    <div class="post-feature" style="background-image: url('{{ page.img-feature}}');">
        <div class="overlay"></div>
    </div>
    {% else %}
    <div class="post-feature" style="background-image: url(/assets/media/feature/default.jpg);">
        <div class="overlay"></div>
    </div>
    {% endif%}

    <div class="blog-content">
        <div class="middle-container">
            <div class="post-content-container">
                <header class="post-header">
                    <div class="post-tittle">
                        {% for category in page.categories %}
                        <h4> // {{ category }} // </h4>
                        {% endfor %}
                        <h1>{{ page.title | upcase }}</h1>
                        <div class="meta">
                            {% if page.date %}
                            Published on {{ page.date | date: "%b %-d, %Y" }}
                            {% endif %}
                            {% if page.up_date %}
                            · Updated on {{ page.up_date | date: "%b %-d, %Y" }}
                            {% endif %} · 
                            {% include reading-time.html %}
                        </div>
                        <ul class="post-tag">
                            {% for tag in page.tags %}
                            <li> <a href="/tag/{{tag}}">#{{ tag }}</a> </li> {% unless forloop.last %} {% endunless %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% assign author = site.authors | where: 'short_name', page.author | first %}
                    {% if author %}
                    <div class="post-author">
                        <div class="author-img">
                            {% if author.img != nil %}
                            <img src="{{ author.img }}" alt="user-img">
                            {% else %}
                            <img src="/assets/media/author/default_img.jpeg" alt="user-img">
                            {% endif %}
                        </div>
                        <div class="author-name">
                            By <a href="{{ author.url }}">{{ author.name }}</a>
                            <div class="author-position"> {{ author.position }} </div>
                        </div>
                    </div>
                    {% endif %}
                </header>
                <article class="post-content">
                    {{ content }}
                </article>
            </div>
            <nav class="page-navigation">
                {% if page.previous.url %}
                <a class="prev" href="{{page.previous.url}}">
                    <div class="nav-arrow"> Previous </div>
                    <span class="post-title">{{page.previous.title}}</span>
                </a>
                {% else %}
                <a class="prev" href="#">
                    <div class="nav-arrow"> </div>
                    <span class="post-title"> </span>
                </a>
                {% endif %}
                {% if page.next.url %}
                <a class="next" href="{{page.next.url}}">
                    <div class="nav-arrow"> Next </div>
                    <span class="post-title">{{page.next.title}}</span>
                </a>
                {% else %}
                <a class="next" href="#">
                    <div class="nav-arrow"> </div>
                    <span class="post-title"></span>
                </a>
                {% endif %}
            </nav>
            {% include share-buttons.html %}
            {% if page.comments %}
            <div id="disqus_thread"></div>
            <script>
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://https-zhaospei-github-io.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered
                    by
                    Disqus.</a></noscript>
            {% endif%}
        </div>
        <div class="right-container sticky">
            {% if page.table_content != false %}
            <div class="table-of-contents-container">
                {% toc %}
            </div>
            {% endif %}
        </div>
    </div>
    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/scroll.js"></script>
    {% include lazyload.html %}
</body>

</html>