---
layout: default
---
{% include reading-line.html %}
<!-- <div class="relative top-0 left-0 -z-50">
    {% if page.img-feature %}
    <img alt="Post image feature" src="{{ page.img-feature }}" loading="lazy" style="color:transparent;object-position:50% 16%;object-fit:cover;width:100%;aspect-ratio:2/1; height: 200px;">
    {% else %}
    <img alt="Post image feature" src="/assets/media/feature/default.jpg" loading="lazy" class="w-100">
    {% endif %}
</div> -->
<div class="post-container xl:pl-[19.5rem] lg:">
    <article
        class="post-content-container flex flex-col items-start justify-center max-w-3xl mx-auto xl:max-w-none xl:ml-0 xl:mr-[15.5rem] xl:pr-24">
        {% include table-of-content.html %}
        <h1 class="font-extrabold mb-1 text-5xl leading-tight">
            {{ page.title }}
        </h1>
        <div class="flex flex-col items-start justify-between w-full mt-2 md:flex-row md:items-center">
            <div class="flex items-center">
                {% assign author = site.authors | where: 'short_name', page.author | first %}
                {% if author %}
                {% if author.img != nil %}
                <img class="object-cover w-[40px] h-[40px] rounded-full" src="{{ author.img }}" alt="{{ author.name }}">
                {% else %}
                <img src="/assets/media/author/default_img.jpeg" alt="{{ author.name }}">
                {% endif %}
                <p class="ml-2 text-sm text-gray-700">
                    {{ author.name }} / {{ page.date | date: "%B %-d, %Y" }}
                </p>
                {% endif %}
            </div>
            <p class="mt-2 text-sm text-gray-600 min-w-32 md:mt-0">
                {% include reading-time.html %}
            </p>
        </div>
        <div class="relative not-prose my-[2em] first:mt-0 last:mb-0 rounded-2xl overflow-hidden mx-auto">
            {% if page.img-feature %}
            <img alt="Post image feature" src="{{ page.img-feature }}" loading="lazy" class="w-full">
            {% else %}
            <img alt="Post image feature" src="/assets/media/feature/default.jpg" loading="lazy" class="w-full">
            {% endif %}
        </div>
        <div class="post-content w-full mt-4 prose max-w-none">
            {{ content }}
        </div>

        <div class="ml-8 mt-8 mb-8 font-normal">
            <b class="font-semibold text-xl"> Tags: </b>
            {% for tag in page.tags %}
            <a class="inline-block px-4 py-1 mx-2 my-2 border border-solid rounded-lg bg-gray-100 border-slate-400"
                href="/tag/{{tag}}"> {{ tag }} </a>
            {% endfor %}
        </div>

        {% include share-buttons.html %}

        {% include post-buttom-nav.html %}
    </article>
</div>

<script async src="{{site.cdn_baseurl}}/assets/js/scroll.js"></script>